<mat-sidenav-container fxFlexFill>

  <mat-sidenav mode="over" #sidenav>
    <mat-list>

      <mat-list-item routerLink="/core/layout/home" (click)="sidenav.toggle()">
        <mat-icon color="primary">home</mat-icon> Home
      </mat-list-item>

      <mat-list-item routerLink="/core/layout/insects" (click)="sidenav.toggle()">
        <mat-icon color="primary">bug_report</mat-icon> Insects
      </mat-list-item>

      <mat-list-item (click)="logout(); sidenav.toggle()" *ngIf="isAuthenticated$ | async; else login">
        <mat-icon color="primary">close</mat-icon> Logout
      </mat-list-item>

      <ng-template #login>
        <mat-list-item routerLink="/core/layout/login" (click)="sidenav.toggle()">
          <mat-icon color="primary">person</mat-icon> Login
        </mat-list-item>
      </ng-template>
    </mat-list>
  </mat-sidenav>


  <mat-sidenav-content fxFlexFill>

    <mat-toolbar color="primary">
      <mat-icon (click)="sidenav.toggle()">menu</mat-icon> Insects
    </mat-toolbar>

    <router-outlet></router-outlet>

  </mat-sidenav-content>

</mat-sidenav-container>
